<launch>
    <arg name="bond_id_namespace" default="safety_bonds" />

    <node name="high_level_motion" pkg="iarc7_motion"
        type="high_level_motion_controller.py">
        <rosparam command="load"
            file="$(find iarc7_motion)/param/motion_planner.yaml" />
        <remap from="/odometry/filtered" to="/double_filtered_vel" />
        <remap from="odometry/filtered" to="/double_filtered_vel" />
    </node>

    <param name="$(arg bond_id_namespace)/high_level_motion\/form_bond"
        value="true" />
</launch>
